

body,
html {
  padding: 0px;
       image-rendering: pixelated;

  margin: 0px;
  height: 100vh;
  overflow-x: auto;
  /* Allow horizontal scroll */
  overflow-y: hidden;
  /* Hide vertical scroll */



}


body {
  /* width: 1200px; */
  display: block;
  background-image: url('../assets/img/mainbg1.2.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* OR try background-size: 100% 100%; */
  background-position: center center;

}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}


header {
  margin: 20px;
  font-family: circus;

  padding-top: 20px;
}

::-webkit-scrollbar {
  background: none;

}

h1 {
  display: none;
}


.gallery {

  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 1fr;
  box-sizing: border-box;

  grid-gap: 0;
  /* remove space between blocks */

}

.gallery a:nth-child(n) {
  object-fit: contain;
  box-sizing: border-box;
  /* min-width: 400px;
  min-height: 200px; */
  z-index: 1;
  /* border: 1px solid black; */


}
.gallery a:nth-child(1) {
grid-row: 1/ span 8;
grid-column: 2 ;
/* background-color: rgb(197, 154, 154); */
}
.gallery a:nth-child(2) {
grid-row: 1 / span 4;
grid-column: 3 ;
/* background-color: aqua; */
}
.gallery a:nth-child(3) {
grid-row: 4/ span 5;
grid-column: 4;
/* background-color: aliceblue; */
}
.gallery a:nth-child(4) {
grid-row: 5/ span 4;
grid-column: 3;
/* background-color: rgb(60, 63, 65); */
}
.gallery a:nth-child(6) {
grid-row: 4/ span 5;
grid-column: 5;
/* background-color: rgb(22, 113, 193); */
}
.gallery a:nth-child(7) {
grid-row: 1 / span 3;
grid-column: 4 / 6;
/* background-color: rgb(22, 113, 193); */
}
.gallery a:nth-child(5) {
grid-row: 1/ span 8;
grid-column: 1;
/* background-color: red; */
}
#txt {
  position: fixed;
  font-family: "Times Now";
  color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99999999;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#txt span {
  font-size: 4.6rem;
  display: inline-block;
  margin: 0 auto;
  max-height: 95vh;
  width: 95vw;
  line-height: 85%;
  letter-spacing: -2px;
  z-index: 2;
  text-overflow: ellipsis;
  object-fit: contain;
  word-break: keep-all;
}

#txt img {
  object-fit: contain;
  height: auto;
  max-height: 92.5vh;
  max-width: 100%;
  box-sizing: border-box;
  z-index: 1;
}


@media only screen and (max-width:900px) {


  body {
    display: block;
    background-image: url("");
    background-color: white;


  }

  main {
    display: block;
    overflow-y: hidden;
    overflow-x: auto;
    width: 1900px;
    background-attachment: scroll;
    min-height: 100vh;
    /* ensures it fills screen height */

    background-repeat: no-repeat;
    background-size: cover;
    /* OR try background-size: 100% 100%; */
    background-position: center center;

  }
}

@media only screen and (max-width:800px) {

  body {
    display: block;
    background-image: url("");
    background-color: white;


  }

  main {
    display: block;
    overflow-y: hidden;
    overflow-x: auto;
    width: 1400px;
    background-attachment: scroll;
    min-height: 100vh;
    /* ensures it fills screen height */
  background-image: url('../assets/img/mainbg1.2.png');
       image-rendering: pixelated;

    background-repeat: no-repeat;
    background-size: cover;
    /* OR try background-size: 100% 100%; */
    background-position: center center;

  }
}